<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR.

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next".

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/LoadingData.png">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as follows:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

The following required modules are pre-installed in the Skills Network Labs environment. However if you run this notebook commands in a different Jupyter environment (e.g. Watson Studio or Ananconda) you may need to install these libraries by removing the `#` sign before `!pip` in the code cell below.

In [86]:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
# !pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
# !pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
# !pip install ipython-sql

In [87]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/details.png">

In [88]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# Enter the connection string for your Db2 on Cloud database instance below

%sql ibm_db_sa://jzs16447:O6cDm3XfZIfeTUIy@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB?security=SSL

'Connected: jzs16447@BLUDB'

In [89]:
%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'CHICAGO_CRIME_DATA'

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[(22,)]

In [90]:
%sql DROP TABLE CHICAGO_CRIME_DATA;

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[]

In [91]:
%%sql
CREATE TABLE  CHICAGO_CRIME_DATA
  (
  index INT GENERATED BY DEFAULT AS IDENTITY NOT NULL,
  ID  BIGINT,
  CASE_NUMBER  VARCHAR(100), 
  "DATE"  VARCHAR(100),
  BLOCK  VARCHAR(100),
  IUCR  VARCHAR(100),
  PRIMARY_TYPE  VARCHAR(100) ,
  DESCRIPTION  VARCHAR(100),
  LOCATION_DESCRIPTION  VARCHAR(100)  ,
  ARREST  SMALLINT ,
  DOMESTIC  SMALLINT ,
  BEAT  BIGINT ,
  DISTRICT  BIGINT ,
  WARD  DOUBLE ,
  COMMUNITY_AREA_NUMBER  DOUBLE ,
  FBICODE  VARCHAR(100)  ,
  X_COORDINATE  DOUBLE ,
  Y_COORDINATE  DOUBLE ,
  YEAR  BIGINT ,
  LATITUDE  DOUBLE ,
  LONGITUDE  DOUBLE ,
  LOCATION  VARCHAR(100)  
  --Search condition (e.g. WHERE "index" = NULL)
  );

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[]

In [92]:
import pandas
CHICAGO_CRIME_DATA = pandas.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv')

%sql DROP TABLE CHICAGO_CRIME_DATA;

import pandas

CHICAGO_CRIME_DATA = pandas.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv')

In [93]:
# import the module
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("ibm_db_sa://jzs16447:O6cDm3XfZIfeTUIy@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB?security=SSL")
#Checking Connection 
connected = pandas.io.sql._is_sqlalchemy_connectable(engine)

print(connected)   #Output is True if connection established successfully

True

In [94]:
# Insert whole DataFrame into MySQL
CHICAGO_CRIME_DATA.to_sql('CHICAGO_CRIME_DATA', con=engine,if_exists='append', chunksize = 1000, index=False)

In [95]:
%%sql 
select distinct primary_type from CHICAGO_CRIME_DATA  limit 10

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[('ARSON',),
 ('ASSAULT',),
 ('BATTERY',),
 ('BURGLARY',),
 ('CONCEALED CARRY LICENSE VIOLATION',),
 ('CRIM SEXUAL ASSAULT',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('DECEPTIVE PRACTICE',),
 ('DOMESTIC VIOLENCE',)]

In [96]:
CHICAGO_CRIME_DATA.dtypes

ID                         int64
CASE_NUMBER               object
DATE                      object
BLOCK                     object
IUCR                      object
PRIMARY_TYPE              object
DESCRIPTION               object
LOCATION_DESCRIPTION      object
ARREST                      bool
DOMESTIC                    bool
BEAT                       int64
DISTRICT                   int64
WARD                     float64
COMMUNITY_AREA_NUMBER    float64
FBICODE                   object
X_COORDINATE             float64
Y_COORDINATE             float64
YEAR                       int64
LATITUDE                 float64
LONGITUDE                float64
LOCATION                  object
dtype: object

CHICAGO_CRIME_DATA['CASE_NUMBER'].astype(str)

%sql PERSIST CHICAGO_CRIME_DATA

%sql DROP TABLE CHICAGO_CRIME_DATA_1;

%%sql
CREATE TABLE  CHICAGO_CRIME_DATA_1
  (
  index INT GENERATED BY DEFAULT AS IDENTITY NOT NULL,
  ID  BIGINT,
  CASE_NUMBER  VARCHAR(100), 
  "DATE"  VARCHAR(100),
  BLOCK  VARCHAR(100),
  IUCR  VARCHAR(100),
  PRIMARY_TYPE  VARCHAR(100) ,
  DESCRIPTION  VARCHAR(100),
  LOCATION_DESCRIPTION  VARCHAR(100)  ,
  ARREST  SMALLINT ,
  DOMESTIC  SMALLINT ,
  BEAT  BIGINT ,
  DISTRICT  BIGINT ,
  WARD  DOUBLE ,
  COMMUNITY_AREA_NUMBER  DOUBLE ,
  FBICODE  VARCHAR(100)  ,
  X_COORDINATE  DOUBLE ,
  Y_COORDINATE  DOUBLE ,
  YEAR  BIGINT ,
  LATITUDE  DOUBLE ,
  LONGITUDE  DOUBLE ,
  LOCATION  VARCHAR(100)  
  --Search condition (e.g. WHERE "index" = NULL)
  );

import pandas
CHICAGO_CRIME_DATA_1 = pandas.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv')

%sql APPEND CHICAGO_CRIME_DATA_1

# import the module
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("ibm_db_sa://jzs16447:O6cDm3XfZIfeTUIy@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB?security=SSL")

#Checking Connection 
connected = pandas.io.sql._is_sqlalchemy_connectable(engine)

print(connected)   #Output is True if connection established successfully

# Insert whole DataFrame into MySQL
CHICAGO_CRIME_DATA_1.to_sql('CHICAGO_CRIME_DATA_1', con=engine,if_exists='append', chunksize = 1000, index=False)

CHICAGO_CRIME_DATA_1

%%sql 
select distinct primary_type from CHICAGO_CRIME_DATA_1  limit 10

%%sql 
select DISTINCT CASE_NUMBER from CHICAGO_CRIME_DATA  limit 10

%sql ALTER TABLE CHICAGO_CRIME_DATA ALTER COLUMN CASE_NUMBER VARCHAR(150);

%%sql 
select DISTINCT c.DESCRIPTION from CHICAGO_CRIME_DATA as c limit 10

%sql select DISTINCT CHICAGO_CRIME_DATA."PRIMARY_TYPE" from CHICAGO_CRIME_DATA limit 10

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [97]:
%sql select count(*) from CHICAGO_CRIME_DATA

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [98]:
%sql SELECT community_area_name FROM CENSUS_DATA WHERE per_capita_income < 11000;

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [99]:
%sql SELECT DISTINCT primary_type FROM CHICAGO_CRIME_DATA 
#where primary_type = 'OFFENSE INVOLVING CHILDREN'

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[('ARSON',),
 ('ASSAULT',),
 ('BATTERY',),
 ('BURGLARY',),
 ('CONCEALED CARRY LICENSE VIOLATION',),
 ('CRIM SEXUAL ASSAULT',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('DECEPTIVE PRACTICE',),
 ('DOMESTIC VIOLENCE',),
 ('GAMBLING',),
 ('HOMICIDE',),
 ('HUMAN TRAFFICKING',),
 ('INTERFERENCE WITH PUBLIC OFFICER',),
 ('INTIMIDATION',),
 ('KIDNAPPING',),
 ('LIQUOR LAW VIOLATION',),
 ('MOTOR VEHICLE THEFT',),
 ('NARCOTICS',),
 ('NON - CRIMINAL',),
 ('NON-CRIMINAL',),
 ('NON-CRIMINAL (SUBJECT SPECIFIED)',),
 ('OBSCENITY',),
 ('OFFENSE INVOLVING CHILDREN',),
 ('OTHER NARCOTIC VIOLATION',),
 ('OTHER OFFENSE',),
 ('PROSTITUTION',),
 ('PUBLIC INDECENCY',),
 ('PUBLIC PEACE VIOLATION',),
 ('RITUALISM',),
 ('ROBBERY',),
 ('SEX OFFENSE',),
 ('STALKING',),
 ('THEFT',),
 ('WEAPONS VIOLATION',)]

%sql delete CHICAGO_CRIME_DATA

In [100]:
%sql select * from CHICAGO_CRIME_DATA where description like'%MINOR%'

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[(515, 3987219, 'HL266884', '2005-03-31', '024XX N CLARK ST', '2210', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR', 'CONVENIENCE STORE', 1, 0, 2333, 19, 43.0, 7.0, '22', 1172680.0, 1916483.0, 2005, 41.92626872, -87.64089934, '(41.926268719, -87.640899336)'),
 (516, 3266814, 'HK238408', '2004-03-13', '093XX S STONY ISLAND AVE', '2230', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR', 'ALLEY', 1, 0, 413, 4, 8.0, 48.0, '22', 1188539.0, 1843379.0, 2004, 41.72530099, -87.58496589, '(41.72530099, -87.584965887)')]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [101]:
%sql SELECT case_number FROM CHICAGO_CRIME_DATA where description like'%MINOR%'

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[('HL266884',), ('HK238408',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [102]:
%sql select primary_type from CHICAGO_CRIME_DATA where primary_type like'%KID%' and description like'%CHILD%'

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[('KIDNAPPING',)]

In [103]:
# %sql select * from CHICAGO_PUBLIC_SCHOOLS

%sql select * from CHICAGO_CRIME_DATA where location_description like'%SCHOOL%' 
# primary_type like'%SCHOOL%' 
#and description like'%CHILD%'

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[(119, 4006321, 'HL353697', '2005-05-04', '077XX S BURNHAM AVE', '460', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS', 0, 0, 421, 4, 7.0, 43.0, '08B', 1196066.0, 1854156.0, 2005, 41.75469107, -87.55703869, '(41.754691074, -87.557038686)'),
 (122, 4430638, 'HL725506', '2005-11-09', '048XX N FRANCISCO AVE', '484', 'BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING', 1, 0, 2031, 20, 40.0, 4.0, '08B', 1156348.0, 1932071.0, 2005, 41.96938944, -87.70048881, '(41.96938944, -87.700488807)'),
 (142, 6644618, 'HP716225', '2008-12-04', '030XX S DR MARTIN LUTHER KING JR DR', '460', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING', 0, 0, 2112, 1, 2.0, 35.0, '08B', 1179306.0, 1885032.0, 2008, 41.83981621, -87.61751617, '(41.839816207, -87.617516172)'),
 (167, 2341955, 'HH639427', '2002-09-10', '005XX N WALLER AVE', '460', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING', 0, 0, 1512, 15, 29.0, 25.0, '08B', 1138238.0, 1903181.0, 2002, 41.89045993, -87.76778089, '(41.890459933, -87.767780886)'),
 (184, 11110571, 'JA460432', '2017-10-05', '076XX S HOMAN AVE', '460', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS', 0, 0, 835, 8, 18.0, 70.0, '08B', 1155024.0, 1853614.0, 2017, 41.75412154, -87.70746025, '(41.754121535, -87.707460248)'),
 (221, 7399281, 'HS200939', '2010-03-10', '053XX W CONGRESS PKWY', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS', 0, 0, 1522, 15, 29.0, 25.0, '14', 1140822.0, 1897164.0, 2010, 41.8739014, -87.7584391, '(41.873901397, -87.758439102)'),
 (264, 3530721, 'HK577020', '2004-08-23', '016XX W JONQUIL TER', '2024', 'NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS', 1, 0, 2422, 24, 49.0, 1.0, '18', 1163893.0, 1951001.0, 2004, 42.0211776, -87.67220843, '(42.021177601, -87.67220843)'),
 (266, 7502426, 'HS305355', '2010-05-13', '035XX S WASHTENAW AVE', '1821', 'NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING', 1, 0, 913, 9, 12.0, 58.0, '18', 1158944.0, 1880896.0, 2010, 41.82890791, -87.69234919, '(41.828907913, -87.692349187)'),
 (365, 8082600, 'HT315369', '2011-05-26', '032XX W ADAMS ST', '545', 'ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS', 0, 0, 1124, 11, 28.0, 27.0, '08A', 1154752.0, 1898890.0, 2011, 41.87837031, -87.70724814, '(41.878370307, -87.707248137)'),
 (472, 7174283, 'HR585012', '2009-10-13', '043XX W 79TH ST', '1330', 'CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS', 1, 0, 834, 8, 13.0, 70.0, '26', 1148764.0, 1851854.0, 2009, 41.74941446, -87.7304466, '(41.749414464, -87.730446597)'),
 (499, 2075734, 'HH292682', '2002-04-05', '016XX W BRYN MAWR AV', '2850', 'PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING', 0, 0, 2012, 20, None, None, '26', None, None, 2002, None, None, None),
 (500, 1806896, 'G635735', '2001-10-22', '0000X N HERMITAGE AV', '2850', 'PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING', 1, 0, 1333, 12, None, None, '26', 1164687.0, 1900646.0, 2001, 41.88298425, -87.67071922, '(41.882984246, -87.670719218)')]

In [104]:
%sql select name_of_school, c.primary_type from CHICAGO_CRIME_DATA c, CHICAGO_PUBLIC_SCHOOLS s\
where c.community_area_number = s.community_area_number limit 5;

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[('Jensen Elementary Scholastic Academy', 'BATTERY'),
 ('Jensen Elementary Scholastic Academy', 'NARCOTICS'),
 ('Jensen Elementary Scholastic Academy', 'INTERFERENCE WITH PUBLIC OFFICER'),
 ('Jensen Elementary Scholastic Academy', 'ASSAULT'),
 ('Jensen Elementary Scholastic Academy', 'ASSAULT')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [105]:
%sql select distinct c.primary_type from CHICAGO_CRIME_DATA c, CHICAGO_PUBLIC_SCHOOLS s \
where c.community_area_number = s.community_area_number limit 5;

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[('ARSON',),
 ('ASSAULT',),
 ('BATTERY',),
 ('BURGLARY',),
 ('CONCEALED CARRY LICENSE VIOLATION',)]

In [106]:
%sql select distinct primary_type from CHICAGO_CRIME_DATA where location_description like'%SCHOOL%'

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the average safety score for all types of schools.

In [107]:
%sql select "Elementary, Middle, or High School", avg(SAFETY_SCORE) from CHICAGO_PUBLIC_SCHOOLS group by "Elementary, Middle, or High School"

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [108]:
%sql SELECT community_area_name, percent_households_below_poverty FROM CENSUS_DATA order by 2 desc limit 5;

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8

##### Which community area is most crime prone?

In [109]:
%sql select community_area_number, count(1) as "Qty_of_crime" from CHICAGO_CRIME_DATA group by community_area_number order by 2 desc limit 1

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[(25.0, 43)]

In [110]:
%%sql 
select 
    c1.community_area_number, 
    count(c1.community_area_number) as Qty_of_crime 
from CHICAGO_CRIME_DATA c1
group by c1.community_area_number 
having Qty_of_crime = max (select count(c2.community_area_number) from CHICAGO_CRIME_DATA c2 group by c2.community_area_number)

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "count" was found following "_crime = max (select".  Expected tokens may include:  "CONCAT".  SQLSTATE=42601 SQLCODE=-104
[SQL: select
    c1.community_area_number,
    count(c1.community_area_number) as Qty_of_crime
from CHICAGO_CRIME_DATA c1
group by c1.community_area_number
having Qty_of_crime = max (select count(c2.community_area_number) from CHICAGO_CRIME_DATA c2 group by c2.community_area_number)]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [111]:
%%sql 
select count(c2.community_area_number) from CHICAGO_CRIME_DATA c2 group by c2.community_area_number

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[(6,),
 (7,),
 (4,),
 (3,),
 (4,),
 (11,),
 (5,),
 (15,),
 (3,),
 (2,),
 (1,),
 (5,),
 (5,),
 (8,),
 (3,),
 (2,),
 (8,),
 (3,),
 (6,),
 (9,),
 (22,),
 (13,),
 (43,),
 (10,),
 (8,),
 (16,),
 (16,),
 (8,),
 (9,),
 (7,),
 (1,),
 (5,),
 (2,),
 (8,),
 (4,),
 (2,),
 (8,),
 (9,),
 (8,),
 (4,),
 (9,),
 (1,),
 (5,),
 (11,),
 (3,),
 (4,),
 (2,),
 (6,),
 (2,),
 (1,),
 (2,),
 (10,),
 (2,),
 (1,),
 (10,),
 (4,),
 (7,),
 (2,),
 (3,),
 (12,),
 (12,),
 (21,),
 (11,),
 (8,),
 (14,),
 (4,),
 (3,),
 (1,),
 (4,),
 (2,),
 (0,)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [112]:
#%sql select community_area_name, hardship_index from CENSUS_DATA order by hardship_index desc nulls last limit 1
%sql select community_area_name,* from CENSUS_DATA where hardship_index = (select max(hardship_index) from CENSUS_DATA)

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[('Riverdale', 54, 'Riverdale', Decimal('5.8'), Decimal('56.5'), Decimal('34.6'), Decimal('27.5'), Decimal('51.5'), 8201, 98)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [113]:
%%sql 

select 
    s.community_area_number, 
    s.community_area_name 
from 
    CENSUS_DATA s 
where     s.community_area_number = (select c.community_area_number from CHICAGO_CRIME_DATA c group by c.community_area_number order by count(c.community_area_number) desc limit 1)

 * ibm_db_sa://jzs16447:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB
Done.

[(25, 'Austin')]

Copyright © 2020 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2021-11-17 | 2.6     | Lakshmi           | Updated library                                |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>